@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #242424;
    --text-color: #fff;
    background-color: var(--background-color);
    color: var(--text-color);
}
